* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, * after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-decoration: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

ul {
  list-style-type: none;
}

.wrapper {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 758px;
  margin: 0 auto;
}

.header {
  background: url(../img/header__bg.jpg) 0 0/cover no-repeat;
  padding: 0 0 26px 0;
}
.header__inner {
  padding: 20px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__inner svg {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.header__inner svg:hover {
  fill: #A60400;
}
.header__logo {
  max-width: 60px;
  fill: #fff;
}
.header__link {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2.4px;
  color: #fff;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  padding: 0 20px;
}
.header__link:hover {
  color: #A60400;
}
.header__title {
  padding: 250px 0 0 0;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 5.4px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
.header__subtitle {
  padding: 10px 0 0 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2.4px;
  text-align: center;
  color: #fff;
}
.header__buttons {
  margin: 26px 0 222px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__icon svg {
  padding: 5px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.header__icon svg g {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.header__icon svg g:hover {
  fill: #A60400;
}
.header__icon svg:hover {
  fill: #A60400;
}

.button {
  text-transform: uppercase;
  border-radius: 3px;
  padding: 18px 31px;
  background: #A60400;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.button:hover {
  color: #A60400;
  background: #fff;
}

.photo {
  padding-top: 113px;
  background: #f5f6f7;
}
.photo__inner {
  width: 40%;
}
.photo__title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2.7px;
  text-align: left;
  color: #A60400;
}
.photo__text {
  margin-top: 30px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 1.8px;
  color: #373737;
}
.photo__text span {
  font-weight: bold;
}
.photo__button {
  margin: 30px 0 0px 0;
}
.photo__img {
  width: 70%;
}
.photo__img img {
  width: 100%;
}

.container__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-width: 1017px;
  min-width: 0;
  position: relative;
}

.design {
  margin: 150px 0 0 0;
  max-height: 400px;
  overflow: hidden;
}
.design__img {
  width: 50%;
}
.design__inner {
  width: 40%;
}
.design__title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.22;
  letter-spacing: 2.7px;
  color: #A60400;
}
.design__text {
  margin-top: 30px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 1.8px;
  color: #373737;
  margin-bottom: 20px;
}
.design__text span {
  font-weight: bold;
}

.community {
  padding: 120px 0 118px 0;
  background: #f5f6f7;
}
.community__inner {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.community__logo {
  fill: #A60400;
  width: 60px;
}
.community__title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: 2.4px;
  color: #373737;
}
.community__text {
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-align: center;
  color: #373737;
}
.community__slider {
  min-width: 0;
  max-width: 75%;
}
.community__slide img {
  width: 300px;
  height: 200px;
}
.community .slider__arrow {
  position: absolute;
  right: 10%;
  top: -10%;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.community__slider {
  position: relative;
  padding: 0 60px;
}

.slider__arrow .slick-arrow {
  position: absolute;
  margin-top: -30px;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 50px;
}

.slider__arrow .slick-arrow.slick-prev {
  background: url("../img/arrow-left-335-svgrepo-com.svg") 0 0/100% no-repeat;
  right: 0;
}

.slider__arrow .slick-arrow.slick-next {
  background: url("../img/arrow-right-336-svgrepo-com.svg") 0 0/100% no-repeat;
  left: 0;
}

.subcribe {
  background: url("../img/sub.jpg") 0 0/cover no-repeat;
  background-color: rgba(54, 53, 53, 0.5);
  padding: 352px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.subcribe__title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 3.6px;
  color: #fff;
  margin-bottom: 30px;
}
.subcribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.subcribe__input {
  padding: 0 20px;
  height: 52px;
  font-size: 16px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.subcribe__button {
  padding: 5px 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.subcribe__button:hover {
  fill: #A60400;
}

.download {
  padding: 50px 0 114px;
}
.download__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.download__title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
  color: #373737;
}
.download__text {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.83;
  letter-spacing: 1.8px;
  text-align: center;
  color: #373737;
}
.download__buttons {
  margin: 30px 0 0 0;
}
.download__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.download__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 20px;
}
.download__item:hover {
  fill: #A60400;
}
.download__items {
  background: #BF3330;
  font-size: 16px;
  padding: 10px 80px 10px 40px;
}

.footer__stab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__inner p {
  text-transform: uppercase;
}
.footer__inner p:before {
  content: "";
  padding: 0px 1px;
  margin: 0px 4px;
  background: #BF3330;
}
.footer__inner p:first-child:before {
  content: "";
  background: 0;
}
.footer__img {
  width: 50px;
  fill: #A60400;
}
@media (max-width: 1030px) {
  .photo__inner {
    padding: 0 10px;
  }
}
@media (max-width: 870px) {
  .photo__inner {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .photo__inner__button {
    margin: 20px 0 30px 0;
  }
  .photo__button {
    margin: 20px 0 30px 0;
  }
  .photo__img {
    display: none;
  }
}
@media (max-width: 615px) {
  .download__items {
    background: #BF3330;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .download__button {
    margin: 10px 0 0 0;
    width: 100%;
  }
  .download__items {
    width: 100%;
  }
  .download__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 500px) {
  .header__link {
    font-size: 12px;
  }
}
.static {
  width: 100%;
  position: fixed;
  z-index: 100;
  background: #BF3330;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}